/*html {
	margin:0px;
	padding: 0px;
}*/

div {
	font-size: 30px
}

div.footer {
	margin-top: 20%;
	padding: 5%;
	padding-left: 5%;
	background-color: #eee;
}

/*div.btn {
	background-color: #eee;
	max-width: 15%;
	height: 40px;
	border-radius: 3px;
}*/

div.portfolio-piece {
	margin-bottom: 3%;
	/*padding:2%;*/
	/*background-color: #eeeeee;*/
	/*border-radius: 4px;*/
}

div.project-header {
	/*margin-top: 64px;*/
	background: #FFF5E7;
	/*background: #ff5256;*/
height: 740px;
}

div.prj-header-img {
/*float:left;*/
/*max-width: 250px;
margin-top: 50px;*/
margin-right: 50px;

  position: absolute;
  top: 135px;
  left: 0;
  /*width: 400px;*/
  /*max-width: 25%;*/
    width: 45%;
  /*margin-right: 5%*/
/*height: 100px;*/
  /*border: 3px solid #73AD21;*/

}

div.project-summary {
	padding-top: 128px;
	padding-left: 240px;
	padding-bottom: 160px;
	padding-right: 70px;
}


div.project-deets {
	padding-left: 80px;
	padding-top: 30px;
}


div.project-title {
	/*float: right;*/
	/*position: relative;*/
	/*right:0px;*/
	margin-right: 80px;
  position: absolute;
  top: 100px;
  right: 0px;
  /*width: 400px;*/
  width: 38%;
/*height: 100px;*/
  /*border: 3px solid #73AD21;*/
/*	max-width: 35%;
	margin-left: 50px;
	margin-right: 50px;*/
}

/*div.portfolio-piece:hover {
	background-color: #ff5256;
}*/

div.sexy-underline {
	/*padding: 15px;*/
	height:20px;
	width: 170px;
	border-radius: 6px;
	background-color: #FFE3BB;
}

body {
  background-color: #fff;
/*  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;*/
  /*max-width: 750px;*/
  /*float: right;*/
  /*padding-right: 60px;*/
}

p {
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #2B1B00;
/*

	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #161A45; 
	text-align: text;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 0%;
	margin-left: 0%;*/
}

p.project-summary {
	padding-bottom: 4%;
}

p.sexy-header {
	/*padding-bottom: 50px;*/
	padding-left: 12px;
}

h1 {

font-family: IBM Plex Serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 23px;
color: #2B1B00;
/*
	font-family: 'IBM Plex Serif', serif;
	font-weight: 700;
	font-size: 36px;
	color: #161A45;
	text-align: left;
	margin-top: 0%;*/
}


h2 {
font-family: IBM Plex Serif;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 55px;

color: #2A1B00;


/*

	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #161A45;
	text-align: left;
	margin-top: 0%;*/
}

h3 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #343434;
	text-align: left;
/*	margin-top: 0%;
  	margin-bottom: 0%;
  	margin-right: 0%;
  	margin-left: 0%;*/
}

h2.summary {
	padding-top: 0px;
}

h3.status-label {
	color: #aaa;
}

h3.btn-text {
	text-align: center;
	padding-top: 8px;

}


img {
	max-width: 100%;
}

img.project-banner {
	margin-top: 4%;
}

 /*DOES THIS DO ANYTHING? 
 IT DOESN'T CHANGE ANYTHING WHEN 
 I COMMENT THE ATTRIBUES OUT*/
 /* unvisited link, same as regular 'a' */
a.btn-text:link {
	/*color: #000;*/
}   

/* visited link */
a.btn-text:visited {
	color: #000;
} 

/* HOVER */
a.btn-text:hover {	
	color:#FBF8ED;
	background-color: #161A45;
}  

a.btn-text:active { 
	color:#ff5256;
}


button { 
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	background-color: #FFF5E7;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 24px;
}

button.back-home {
	border: none;
  	padding: 0px;
  	margin-left: 110px;
  	margin-top: 50px;
}



@media only screen and (max-width: 480px) {


div.project-title {
/*margin-top: 50px;*/
/*margin-left: 30px;*/
position: relative;
/*margin-right: 70px;*/
top: 100px;
right: 0px;
width: 74%;
padding: 50px;

}


div.project-summary {
	padding-top: 88px;
padding-left: 30px;
}

div.prj-header-img {
	margin-right: 50px;
	position: relative;
  top: 135px;
  left: 0;
    width: 88%;
}


div.btn {
	background-color: #ff5256;
	max-width: 40%;
	height: 40px;
	border-radius: 3px;
  	border-radius: 6px;

}

a.btn-text {
	color:#fff;
}

a.btn-text:active {
	color:#161A45;
}

button.back-home {
border: none;
padding: 0px;
margin-left: 30px;
margin-top: 50px;
position: absolute;
width: 160px;
height: 60px;
left: 0px;
top: 0px;
}

button {
	  	padding: 50px 32px;
  		background-color: #EDD4B2;
	  	border-radius: 14px;
}

button:active { 
	background-color:#eee;

}

h1 {
	font-family: IBM Plex Serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 46px;
}

h2 {
	font-family: IBM Plex Serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
}

p {
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
}

div.project-header {
background: #FFF5E7;
height: 780px;

}
